{% extends 'base.html' %}

{% block title %}
  Edit Note
{% endblock %}

{% block content %}
<h3>Edit Note</h3>
<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {% endfor %}

  <button type="submit">Save Changes</button>

</form>
{% endblock %}

<!-- jinja tags for include with a _form for boiler templates
includes _form (Pet Adoption solution)-->