{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock %}


{% block content %}

<h1> {{ user.full_name }}</h1>

<h3> Email: {{ user.email }} </h3>
<h2> Notes </h2>
<ul>
  {% for note in user.notes %}
  <li>
    <h4>{{ note.title }}</h4>
    <div>
      {{ note.content }}
    </div>
    <button> <a href="/notes/{{ note.id }}/update">Edit Note</a></button>
    <form method="POST" action="/notes/{{ note.id }}/delete">
      {{ form.hidden_tag() }}
      <button type="submit">Delete Note</button>
    </form>
  </li>
  {% endfor %}
</ul>
<button><a href="/users/{{ user.username }}/notes/add">Add Notes</a></button>
<form method="POST" action="/users/{{ user.username }}/delete">
  {{ form.hidden_tag() }}
  <button type="submit">Delete User</button>
</form>

<form action="/logout" method="POST">
  {{ form.hidden_tag() }}
  <button type="submit">Log Out</button>
</form>

{% endblock %}

